[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Settings
Name[ru]=Настройки
Icon=harbour-mms-settings
Exec=harbour-mms-settings
